@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600'); 
/* Body */ 
:root { 
    --main-color: white; 
    --accent-color: dodgerblue; 
} 
 
body { 
	font-family: 'Source Sans Pro', sans-serif; 
  
   
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	font-style: normal; 
	font-weight: 200; 
} 
.socialcontainer { 
  display:flex; 
	position: absolute; 
	top: 0%; 
	left: 43%; 
  justify-content: center; 
  align-items: center; 
  height: 20vh; 
  filter:url('#goo'); 
} 
 
.socialbutton { 
  z-index: 99; 
  position: absolute; 
	 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 150px; 
  height: 40px; 
  background: linear-gradient(45deg, #B388EB, #8093F1); 
  border-radius: 20px; 
  color: #FFF; 
  font-size: 20px; 
  letter-spacing: 1px; 
  font-weight: 200; 
} 
 
.social { 
  opacity: 0; 
  position: relative; 
  margin: 9px; 
  width: 50px; 
  height: 40px; 
  border-radius: 100%; 
  display: inline-block; 
  color: #FFF; 
  font-size: 25px; 
  text-align: center; 
  i { 
   margin-top: 10px; 
  } 
   
  a { 
    color: #FFF; 
  } 
} 
 
.twitter { 
  background: rgba(220,19,88,1.00); 
} 
.fa-facebook{ 
  background: #3B5998; 
  color: white; 
} 
 
.facebook { 
  background: #3b5998; 
} 
 
.google { 
  background: #dd4b39; 
} 
 
.youtube { 
  background: #bb0000; 
} 
 
.clicked { 
  opacity: 1; 
  transition: 1.2s all ease; 
  transform: translateY(56px); 
} 
 
/* Team Members */

h1.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 40%;
  font-family: georgia;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  color: #222; 
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.team-container {
  max-width: 1000px;
  margin: auto;
  border-top: 1px #e9e9e9 solid;
  border-bottom: 1px #e9e9e9 solid;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 3em;
  position: relative;
}

.team-member {
  width: 16%;
  float: left;
  text-align: center;
  margin-right: 24%;
}

.team-member:last-child {margin-right: 0;}


.team-member span,
.team-member h3 {
  max-width: 200px;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.team-member h3 {
  color: #1CA3A3;
}

.email {
  color: #EA2678;
  
}

.team-member span {
  display: block;
 
}
.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}


.team-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}


/* code for phone layout */
@media (max-width:850px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    
  }
  
}



@media (max-width:650px){
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }
  
  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}


/* ENDS Team Member CSS 
===========================*/
 
.topnav { 
    margin-left: auto; 
	margin-right: auto; 
    width: 100%; 
    height: 60px; 
position: relative; 
	right: 1%; 
	bottom: 220px; 
    display: flex; 
    background-color: transparent; 
} 
 .topnav a { 
        float: center; 
        width: 50%; 
        color: white; 
        text-align: center; 
        padding: 14px 50px; 
        text-decoration: none; 
	  
        font-size: 20px; 
    } 
.topnav a:hover { 
        border-radius: 1% 50%;   
         
        color: rgba(7,96,196,0.92); 
 
    } 
 
.icon { 
        display: none; 
    } 
/*MENU*/ 
 
.overlay { 
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-image: url( "../images/phonebgr2.png"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
} 
 
.overlay-content { 
    position: relative; 
    top: 45%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
} 
 
.overlay a { 
    padding: 8px; 
    text-decoration: none; 
    font-size: 36px; 
    color: white; 
    display: block; 
    transition: 0.3s; 
} 
 
.overlay a:hover, 
.overlay a:focus { 
    color: darkorange; 
} 
 
.overlay .closebtn { 
    position: absolute; 
    top: 0%; 
    right: 5%; 
    font-size: 60px; 
} 
 
 
 
.overlay .signtext:hover, 
.overlay .signtext:focus { 
    color: #FABF40; 
} 
 
.overlay .signtext { 
    padding: 8px; 
    text-decoration: none; 
    font-size: 36px; 
    color: white; 
    display: table; 
    transition: 0.3s; 
} 
 
 
 
 
 
/*MENU END*/ 
 
.buttoncall { 
	position: fixed; 
	left:95%; 
	top: 90%; 
     display: inline-block; 
    text-align: center; 
    vertical-align: middle; 
    padding: 17px 23px; 
    border: 0px solid #3a9b2b; 
    border-radius: 68px; 
    background: #5fff47; 
    background: -webkit-gradient(linear, left top, left bottom, from(#5fff47), to(#3a9b2b)); 
    background: -moz-linear-gradient(top, #5fff47, #3a9b2b); 
    background: linear-gradient(to bottom, #5fff47, #3a9b2b); 
    text-shadow: #2a6f1f 1px 4px 1px; 
    font: normal normal bold 24px comic sans ms; 
    color: #ffffff; 
    text-decoration: none; 
} 
.buttoncall:hover, 
.buttoncall:focus { 
    border: 0px solid #ffa200; 
    background: #ffdf00; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdf00), to(#d78800)); 
    background: -moz-linear-gradient(top, #ffdf00, #d78800); 
    background: linear-gradient(to bottom, #ffdf00, #d78800); 
    color: #ffffff; 
    text-decoration: none; 
} 
.buttoncall:active { 
    background: #b37100; 
    background: -webkit-gradient(linear, left top, left bottom, from(#b37100), to(#b37100)); 
    background: -moz-linear-gradient(top, #b37100, #b37100); 
    background: linear-gradient(to bottom, #b37100, #b37100); 
} 
.buttoncall:before{ 
    content:  "\0000a0"; 
    display: inline-block; 
    height: 24px; 
    width: 24px; 
    line-height: 24px; 
    margin: 0 4px -6px -4px; 
    position: relative; 
    top: 0px; 
    left: 4px; 
    background: url( "../images/phone.png") no-repeat left center transparent; 
    background-size: 100% 100%; 
} 
 
.buttonlocation { 
	position: fixed; 
	right: 95%; 
	top: 90%; 
     display: inline-block; 
    text-align: center; 
    vertical-align: middle; 
    padding: 17px 23px; 
    border: 0px solid #409d95; 
    border-radius: 68px; 
    background: #6afff5; 
    background: -webkit-gradient(linear, left top, left bottom, from(#6afff5), to(#409d95)); 
    background: -moz-linear-gradient(top, #6afff5, #409d95); 
    background: linear-gradient(to bottom, #6afff5, #409d95); 
    text-shadow: #2e706b 1px 4px 1px; 
    font: normal normal bold 24px comic sans ms; 
    color: #ffffff; 
    text-decoration: none; 
} 
.buttonlocation:hover, 
.buttonlocation:focus { 
    border: 0px solid #ffa200; 
    background: #ffdf00; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdf00), to(#d78800)); 
    background: -moz-linear-gradient(top, #ffdf00, #d78800); 
    background: linear-gradient(to bottom, #ffdf00, #d78800); 
    color: #ffffff; 
    text-decoration: none; 
} 
.buttonlocation:active { 
    background: #b37100; 
    background: -webkit-gradient(linear, left top, left bottom, from(#b37100), to(#b37100)); 
    background: -moz-linear-gradient(top, #b37100, #b37100); 
    background: linear-gradient(to bottom, #b37100, #b37100); 
} 
.buttonlocation:before{ 
    content:  "\0000a0"; 
    display: inline-block; 
    height: 24px; 
    width: 24px; 
    line-height: 24px; 
    margin: 0 4px -6px -4px; 
    position: relative; 
    top: 0px; 
    left: 4px; 
    background: url( "../images/location.jpg") no-repeat left center transparent; 
    background-size: 100% 100%; 
} 
 
 
/*Phone Modal*/ 
.modal { 
  opacity: 0; 
  visibility: hidden; 
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  text-align: left; 
  background: rgba(0,0,0, .9); 
  transition: opacity .25s ease; 
} 
 
.modal__bg { 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  cursor: pointer; 
} 
 
.modal-state { 
  display: none; 
} 
 
.modal-state:checked + .modal { 
  opacity: 1; 
  visibility: visible; 
} 
 
.modal-state:checked + .modal .modal__inner { 
  top: 0; 
} 
 
.modal__inner { 
  transition: top .25s ease; 
  position: absolute; 
  top: -20%; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  width: 50%; 
  margin: auto; 
  overflow: auto; 
  background: #fff; 
  border-radius: 5px; 
  padding: 1em 2em; 
  height: 50%; 
} 
 
.modal__close { 
  position: absolute; 
  right: 1em; 
  top: 1em; 
  width: 1.1em; 
  height: 1.1em; 
  cursor: pointer; 
} 
 
.modal__close:after, 
.modal__close:before { 
  content: ''; 
  position: absolute; 
  width: 2px; 
  height: 1.5em; 
  background: #ccc; 
  display: block; 
  transform: rotate(45deg); 
  left: 50%; 
  margin: -3px 0 0 -1px; 
  top: 0; 
} 
 
.modal__close:hover:after, 
.modal__close:hover:before { 
  background: #aaa; 
} 
 
.modal__close:before { 
  transform: rotate(-45deg); 
} 
 
@media screen and (max-width: 768px) { 
	 
  .modal__inner { 
    width: 90%; 
    height: 90%; 
    box-sizing: border-box; 
  } 
} 
#number{ 
	text-align: center; 
	font-size: 2.5rem; 
	font-family: bold; 
} 
.congrats{ 
	width: 30%; 
	position: absolute; 
	left: 70%; 
	top:15%; 
} 
 
p img { 
  max-width: 200px; 
  height: auto; 
  float: left; 
  margin: 0 1em 1em 0; 
} 
/*Phne Modal end*/ 
 
#logo-navbar-middle{ 
	margin-left: auto; 
	margin-right: auto; 
	max-width: 200%; 
	position: relative; 
	right: 40%; 
	bottom: 300%; 
} 
 
 
 
 
 
 
 
 
 
/* Container */ 
.container { 
	width: 100%; 
	margin-left: auto; 
	margin-right: auto; 
	height: 1400px; 
	background-color: transparent; 
} 
/* Navigation */ 
header { 
	width: 100%; 
	height: 5%; 
	background-color: transparent; 
	 
} 
.logo { 
	color: #fff; 
	font-weight: bold; 
	text-align: undefined; 
	width: 10%; 
	float: left; 
	margin-top: 15px; 
	margin-left: 25px; 
	letter-spacing: 4px; 
} 
nav { 
	float: right; 
	width: 50%; 
	text-align: right; 
	margin-right: 25px; 
} 
header nav ul { 
	list-style: none; 
	float: right; 
} 
nav ul li { 
	float: left; 
	color: #FFFFFF; 
	font-size: 14px; 
	text-align: left; 
	margin-right: 25px; 
	letter-spacing: 2px; 
	font-weight: bold; 
	transition: all 0.3s linear; 
} 
ul li a { 
	color: #FFFFFF; 
	text-decoration: none; 
} 
ul li:hover a { 
	color: #2C9AB7; 
} 
.hero_header { 
	color: #FFFFFF; 
	text-align: center; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	letter-spacing: 4px; 
} 
/* Hero Section */ 
.hero { 
	width: 100%; 
	background-image: url("../images/aboutusbgr.png"); 
	background-repeat: no-repeat; 
	background-size: cover; 
	padding-top: 460px; 
	padding-bottom: 60px; 
} 
:root { 
    --main-color: white; 
    --accent-color: dodgerblue; 
} 
#singular-form button, 
.container4>#singular-form>#input-containernotif>input { 
    font-size: 1rem; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
} 
 
.container4 { 
	position: relative; 
	left: 38%; 
	top: 20px; 
    width: 19rem; 
    height: 4rem; 
    padding: 5px; 
    background-color: var(--main-color); 
    text-align: center; 
    border-radius: 3rem; 
    overflow: hidden; 
    transition: width .4s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
} 
 
.container4>#singular-form { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    background-color: --main-color; 
} 
 
.container4>#singular-form button { 
    width: 9rem; 
    padding: 0; 
    border: none; 
    outline: none; 
    border-radius: 3rem; 
    cursor: pointer; 
} 
 
.container4>#singular-form>button#trigger { 
    padding: 0; 
    width: 100%; 
    color: var(--accent-color); 
    background-color: transparent; 
    z-index: 3; 
} 
 
.container4>#singular-form>#input-containernotif { 
    z-index: 2; 
} 
 
.container4>#singular-form>#input-containernotif>input { 
    display: inline-block; 
    height: 100%; 
    width: 100%; 
    background-color: var(--main-color); 
    box-sizing: border-box; 
    border: none; 
    outline: none; 
    padding: 0 26% 0 3%; 
    opacity: 0; 
    transform: scale(0); 
    transition: all .4s ease .4s; 
} 
 
.container4>#singular-form>#input-containernotif>button { 
    position: absolute; 
    top: 0; 
    right: 0; 
    height: 100%; 
    background-color: var(--accent-color); 
    color: var(--main-color); 
    opacity: 0; 
    transform: scale(0); 
    transition: all .4s ease .4s; 
} 
 
.container4>#singular-form>#success { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: var(--accent-color); 
    font-weight: bold; 
    z-index: 1; 
} 
 
.container4>#singular-form>button#trigger, 
.container4>#singular-form>#input-containernotif, 
.container4>#singular-form>#success { 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    transform: scale(0); 
    opacity: 0; 
} 
 
.container4>#singular-form>button#trigger { 
    transition: all .4s ease; 
} 
 
.container4>#singular-form>#input-containernotif { 
    transform: scale(1); 
    opacity: 1; 
    transition: all .4s ease .4s; 
} 
 
.container4>#singular-form>#success { 
    transition: all .2s ease .4s; 
} 
 
.container4>#singular-form>button#trigger.shown, 
.container4>#singular-form>#input-containernotif.shown, 
.container4>#singular-form>#success.shown, 
.container4>#singular-form>#input-containernotif>button.shown, 
.container4>#singular-form>#input-containernotif>input.shown { 
    transform: scale(1); 
    opacity: 1; 
} 
 
 
 
 
.copyright { 
	text-align: center; 
	padding-top: 20px; 
	padding-bottom: 20px; 
	background-color: #5B5B5B; 
	color: #FFFFFF; 
	text-transform: uppercase; 
	font-weight: lighter; 
	letter-spacing: 2px; 
	border-top-width: 2px; 
} 
.aboutus{ 
	text-align: center; 
	font-family: 'montserrat', sans-serif; 
	text-transform: uppercase; 
	color: black; 
} 
.ptag{width: 90%; 
text-align: center; 
margin: 0 100px; 
	font-size: 1.4rem; 
} 
 
.footer_banner2 { 
	background-color: #3E3E3E; 
	padding-top: 60px; 
	padding-bottom: 60PX; 
	margin-bottom: 0px; 
	background-image: url(../images/pattern.png); 
	background-repeat: repeat; 
} 
footer { 
	display: inline-block; 
} 
.hidden { 
	display: none; 
} 
*, *:before, *:after { 
  box-sizing: border-box; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
} 
@media (min-width: 321px)and (max-width: 767px) { 
	 
	.hero { 
	width: 100%; 
		height: 100px; 
	background-image: url("../images/phonebgr.png"); 
	background-size: cover; 
		background-repeat: no-repeat; 
	padding-top: 460px; 
	padding-bottom: 440px; 
} 
	 
	 
	.socialcontainer { 
  display:flex; 
	position: absolute; 
	top: -5%; 
	left: 15%; 
  justify-content: center; 
  align-items: center; 
  height: 20vh; 
  filter:url('#goo'); 
} 
	.topnav a { 
		display: none; 
	} 
	.icon { 
    float: left; 
    position: relative; 
    bottom: 360%; 
    left: 25px; 
    display: flex; 
} 
	 
	.buttoncall { 
	position: fixed; 
	left:80%; 
	top: 90%; 
	} 
	.buttonlocation{ 
		position: fixed; 
		right: 80%; 
	top: 90%; 
	} 
	.container4 { 
	position: relative; 
	left: 2%; 
	top: 20px; 
    width: 19rem; 
    height: 4rem; 
	} 
	 
	 
.container4>#singular-form { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    background-color: --main-color; 
} 
 
.container4>#singular-form button { 
    width: 8rem; 
    padding: 0; 
	 
    border: none; 
    outline: none; 
    border-radius: 3rem; 
    cursor: pointer; 
} 
 
.container4>#singular-form>button#trigger { 
    padding: 0; 
    width: 100%; 
    color: var(--accent-color); 
    background-color: transparent; 
    z-index: 3; 
} 
 
.container4>#singular-form>#input-containernotif { 
    z-index: 2; 
} 
 
.container4>#singular-form>#input-containernotif>input { 
    display: inline-block; 
    height: 100%; 
    width: 100%; 
    background-color: var(--main-color); 
    box-sizing: border-box; 
    border: none; 
    outline: none; 
    padding: 0 26% 0 3%; 
    opacity: 0; 
    transform: scale(0); 
    transition: all .4s ease .4s; 
} 
	 
.logo { 
	width: 100%; 
	text-align: center; 
	margin-top: 13px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	color: #043745; 
} 
	.copyright { 
	text-align: center; 
	padding-top: 20px; 
	padding-bottom: 20px; 
	background-color: #5B5B5B; 
	color: #FFFFFF; 
	text-transform: uppercase; 
	font-weight: lighter; 
	letter-spacing: 2px; 
	border-top-width: 2px; 
} 
.footer_banner2 { 
	background-color: #3E3E3E; 
	padding-top: 60px; 
	padding-bottom: 60PX; 
	margin-top: 200%; 
	background-image: url(../images/pattern.png); 
	background-repeat: repeat; 
} 
	.container { 
	width: 100%; 
	margin-left: auto; 
	margin-right: auto; 
	height: 100px; 
	background-color: transparent; 
} 
	 
} 
@media (min-width: 321px)and (max-width: 767px) {
	
	
	.hero {
	width: 100%;
		height: 50px;
	background-image: url("../images/aboutusbgr.png");
	background-size: cover;
		background-repeat: no-repeat;
	padding-top: 0px;
	padding-bottom: 440px;
}
	.ptag{width: 80%; 
text-align: center; 
margin: 0 35px; 
	font-size: 1.2rem; 
} 
	h1.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 26%;
  font-family: georgia;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  color: #222; 
}
	.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 180px;
	background-color: transparent;
}
	
	.socialcontainer {
  display:flex;
	position: absolute;
	top: -5%;
	left: 15%;
  justify-content: center;
  align-items: center;
  height: 20vh;
  filter:url('#goo');
}
	.topnav a {
		display: none;
	}
	.icon {
    float: left;
    position: relative;
    top: 390%;
    left: 25px;
    display: flex;
}
	
	.buttoncall {
	position: fixed;
	left:80%;
	top: 90%;
	}
	.buttonlocation{
		position: fixed;
		right: 80%;
	top: 90%;
	}
	.container4 {
	position: relative;
	left: 2%;
	top: 20px;
    width: 19rem;
    height: 4rem;
	}
	
	
.container4>#singular-form {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: --main-color;
}

.container4>#singular-form button {
    width: 8rem;
    padding: 0;
	
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}

.container4>#singular-form>button#trigger {
    padding: 0;
    width: 100%;
    color: var(--accent-color);
    background-color: transparent;
    z-index: 3;
}

.container4>#singular-form>#input-containernotif {
    z-index: 2;
}

.container4>#singular-form>#input-containernotif>input {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 26% 0 3%;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease .4s;
}
	
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
	.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #5B5B5B;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner2 {
	background-color: #3E3E3E;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-top: 480%;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;

}

}
 
